/* This Css file is specifically for the chat */

/* Color Text for chat using elements */
red {
  color: red;
}

purple {
  color: purple;
}

blue {
  color: blue;
}

green {
  color: green;
}

yellow {
  color: yellow;
}

orange {
  color: orange;
}
