/*
Color Scheme:

rgb(228, 77, 38), #E44D26
rgb(241, 101, 41), #F16529

and

rgb(255, 255, 255), #FFFFFF
rgb(221, 221, 221), #DDDDDD
*/

* {
	font-family: 'Happy Monkey', cursive;
}

body {
	padding-top: 74px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	
	background-color: #222;
	box-shadow: 0 2px 5px #222;
}

header #icon {
	padding: 5px 0;
}

header nav .menu-link {
	display: block;
	float: left;
	padding: 0 12px;
	
	height: 74px;
	line-height: 74px;
	
	font-size: 1.6em;
	color: white;
}

header nav .menu-link:hover, header nav .menu-link:focus {
	height: 68px;
	line-height: 68px;
	
	background-color: #E44D26;
	border-top: 6px solid #F16529;
	
	color: white;
	text-decoration: none;
}

header nav .dropdown-menu {
	top: 71px;
	
	background-color: #E44D26;
	border-radius: 0;
}

header nav .dropdown-menu a {
	color: white;
}

header nav .dropdown-menu a:hover {
	background-color: #F16529;
	background-image: none;
}

section {
	position: relative;
}

section .id-link {
	position:absolute;
	top: -82px;
}

#links {
	padding-top: 20px;
	padding-bottom: 21px;
	
	font-size: 32px;
	line-height: 32px;
	
	background-color: #FFF;
}

#links img {
	vertical-align: top;
	padding-right: .5rem;
	
	border-right: 1px solid #CCC;
}

#links a {
	font-family: 'Lobster', cursive;
	color: #171717;
}

#links a:hover, #links a:focus {
	color: #171717;
}

.block {
	background-color: #F0F0F0;
	border-top: 8px solid #DDD;
	margin-top: 20px;
	/* Added a margin because I feel that having everything glued together will eventually cause problems,
	again if you don't like it, delete the margin-top*/
}

.block.red {
	background-color: #E44D26;
	/*border-color: #F16529;*/
	
	border-color: #333333;
	/* I think that making the box this color, makes it go with the continuity of the page
	If you don't like, then just delete and take out the comment */
	
	color: white;
}

.project-icon {
	display: block;
	
	background-size: 100%;
	background-color: #292929;
}

.project-box {
	display: block;
	padding: 6px 10px;
	
	background-color: #292929;
	border: 8px solid #333;
	
	color: white;
}

.project-box:hover {
	border: 8px solid #F16529;
	
	color: white;
	text-decoration: none;
}

.project-box:focus {
	color: white;
	text-decoration: none;
}

.project-box:not(:first-child) {
	margin-top: 10px;
}

#learn-block a {
	text-decoration: none;
}

#learn-block a.coming-soon {
	color: #888;
}

#learn-block a > p {
	color: #999;
	font-size: .8em;
}

.track-heading {
	display: block;
	margin-top: 18px;
	margin-bottom: 12px;
	
	border-bottom: 2px solid #777;
	
	color: #777;
	font-size: 1.2em;
}

footer {
	background-color: #202020;
	border-top: 8px solid #292929;
	
	color: #777;
}

footer a, footer a:hover, footer a:focus {
	color: #777;
}
