/*
Color Scheme:

rgb(228, 77, 38), #E44D26
rgb(241, 101, 41), #F16529

and

rgb(255, 255, 255), #FFFFFF
rgb(221, 221, 221), #DDDDDD
*/

* {
	font-family: 'Happy Monkey', cursive;
}

header {
	padding: 5px 0;
	background-color: #222;
}

.links {
	margin: 10px 0;
	font-size: 32px;
	line-height: 32px;
}

.links img {
	vertical-align: top;
	border-right: 1px solid #CCC;
	padding-right: .5rem;
}

.links a {
	font-family: 'Lobster', cursive;
	color: #171717;
}

.links a:hover {
	color: #171717;
}

.links a:focus {
	color: #171717;
}

.block {
	background-color: #F0F0F0;
	border-top: 8px solid #DDD;
}

.block.red {
	background-color: #E44D26;
	color: white;
	border-color: #F16529;
}

.project-icon {
	background-size: 100%;
	width: 150px;
	height: 50px;
	background-color: #222;
	display: block;
}

.project-box {
	background-color: #222;
	padding: 6px 10px;
	color: white;
	display: block;
	border: 8px solid #444;
}

.project-box:hover {
	color: white;
	text-decoration: none;
	border: 8px solid #F16529;
}

.project-box:focus {
	color: white;
	text-decoration: none;
}
