/*
Color Scheme:

rgb(228, 77, 38), #E44D26
rgb(241, 101, 41), #F16529

and

rgb(255, 255, 255), #FFFFFF
rgb(221, 221, 221), #DDDDDD
*/

* {
	font-family: 'Happy Monkey', cursive;
}

header {
	background-color: #222;
}

header #icon {
	padding: 5px 0;
}

header nav .menu-link {
	display: block;
	float: left;
	padding: 0 12px;
	
	height: 74px;
	line-height: 74px;
	
	font-size: 1.6em;
	color: white;
	letter-spacing: 1px;
}

header nav .menu-link:hover, header nav .menu-link:focus {
	background-color: #E44D26;
	color: white;
	text-decoration: none;
	height: 68px;
	line-height: 68px;
	border-top: 6px solid #F16529;
}

header nav .dropdown-menu {
	background-color: #E44D26;
	border-radius: 0;
	top: 71px;
}

header nav .dropdown-menu a {
	color: white;
}

header nav .dropdown-menu a:hover {
	background-color: #F16529;
	background-image: none;
}

.links {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 32px;
	line-height: 32px;
}

.links img {
	vertical-align: top;
	border-right: 1px solid #CCC;
	padding-right: .5rem;
}

.links a {
	font-family: 'Lobster', cursive;
	color: #171717;
}

.links a:hover {
	color: #171717;
}

.links a:focus {
	color: #171717;
}

.block {
	background-color: #F0F0F0;
	border-top: 8px solid #DDD;
}

.block.red {
	background-color: #E44D26;
	color: white;
	border-color: #F16529;
}

.project-icon {
	background-size: 100%;
	background-color: #222;
	display: block;
}

.project-box {
	background-color: #222;
	padding: 6px 10px;
	color: white;
	display: block;
	border: 8px solid #444;
}

.project-box:hover {
	color: white;
	text-decoration: none;
	border: 8px solid #F16529;
}

.project-box:focus {
	color: white;
	text-decoration: none;
}

#projects > .project-box:not(:first-child) {
	margin-top: 10px;
}
