/*
Color Scheme:

rgb(228, 77, 38), #E44D26
rgb(241, 101, 41), #F16529

and

rgb(255, 255, 255), #F0F0F0
rgb(221, 221, 221), #DDDDDD

and

#333333
#292929

*/


/* Page defaults
-------------------------------------------------------------------------------------------- */
* {
	font-family: 'Monda', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nova Round', cursive !important;
}

body {
	padding-top: 86px;
}

/* Blocks
-------------------------------------------------------------------------------------------- */
.block {
	padding-bottom: 20px;
	
	background-color: #F0F0F0;
	border-top: 8px solid #DDD;
}

.block.red {
	background-color: #E44D26;
	border-color: #F16529;
	
	color: white;
}

.block.red a:not(.btn), .red a:focus:not(.btn) {
	color: #333;
}

.block.red a:hover:not(.btn), .block.red a:active:not(.btn) {
	color: #111;
	text-decoration: underline;
}

.block .lead {
	margin-bottom: 0;
}

/* Panel
-------------------------------------------------------------------------------------------- */
.panel {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 10px;
	
	border: 8px solid #666;
	background: #777;
	
	color: #DDD;
	text-decoration: none;
}

.panel a, .panel a:focus {
	color: #333;
}

.panel a:hover, .panel a:active {
	color: #111;
	text-decoration: underline !important;
}

.block.red .panel, .panel.red {
	background-color: #292929;
	border-color: #333;
	
	color: #FFF;
}

.block.red .panel a, .block.red .panel a:focus, .panel.red a, .panel.red a:focus {
	color: #777;
}

.block.red .panel a:hover, .block.red .panel a:active, .panel.red a:hover, .panel.red a:active {
	color: #999;
}

.panel-hover {
	color: #FFF !important;
}

.panel-hover:hover, .panel-hover:active, .panel-hover:focus {
	border-color: #444 !important;
	
	color: #FFF !important;
	text-decoration: none !important;
}

/* Track
-------------------------------------------------------------------------------------------- */
.track a {
	text-decoration: none;
	font-family: 'Nova Round', cursive !important;
}

.track a:hover {
	text-decoration: none;
}

.track a.coming-soon {
	color: #888;
}

.track a > p {
	color: #999;
	font-size: .8em;
}

.track-heading {
	display: block;
	margin-top: 18px;
	margin-bottom: 12px;
	
	border-bottom: 2px solid #777;
	
	color: #777;
	font-size: 1.2em;
}

/* Project boxes
-------------------------------------------------------------------------------------------- */
.project-box, .project-box:focus {
	display: block;
	padding: 8px 10px;
	
	background-color: #292929;
	border: 8px solid #333;
	
	color: #fff !important;
	text-decoration: none !important;
}

.project-box:hover, .project-box:active {
	border-color: #444;
	
	color: #fff;
	text-decoration: none;
}

.project-box:not(:first-child) {
	margin-top: 10px;
}

.project-icon {
	display: block;
	
	background-size: 100%;
	background-color: #292929;
}

.project-box h2 {
	margin: 3px 0;
}

.project-box div {
	margin-bottom: 2px;
}

/* Links
-------------------------------------------------------------------------------------------- */
#links {
	padding-top: 12px;
	padding-bottom: 20px;
	
	font-size: 32px;
	line-height: 32px;
	
	background-color: #FFF;
}

#links img {
	vertical-align: top;
	padding-right: .5rem;
	
	border-right: 1px solid #CCC;
}

#links a {
	font-family: 'Lobster', cursive;
	color: #171717;
}

#links a:hover, #links a:focus {
	color: #171717;
}

/* Filter
-------------------------------------------------------------------------------------------- */
#filter label {
	margin-bottom: 0;
	margin-right: 3px;
}

#filter label:not(:first-child) {
	margin-left: 10px;
}

/* Post
-------------------------------------------------------------------------------------------- */
.post {
	padding: 8px 20px;
}

.post .panel p {
	margin-bottom: 2px;
}

.post h2 {
	margin: 0;
}

/* Comment
-------------------------------------------------------------------------------------------- */
.comments h3 {
	margin: 0;
}

/* Persona
-------------------------------------------------------------------------------------------- */
.persona {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 24px 0;
	padding-bottom: 6px;
	
	background-color: #292929;
	
	color: #FFF;
}

.persona-icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	
	background-size: 100%;
	width: 190px;
	height: 190px;
	
	border: 8px solid #111;
}

.persona .span2 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 46px;
}

.persona .span2.text-right {
	padding-left: 0;
	padding-right: 46px;
}

.persona .row.space {
	margin-top: 38px;
}

.persona .about-icon {
	padding-left: 34px;
	font-size: 3em;
	color: #E44D26;
}

.persona .about {
	font-size: .9em;
	padding-left: 80px;
	max-width: 174px;
	margin-top: -26px;
}

.persona .band {
	margin-top: 24px;
	background-color: #F0F0F0;
	color: #111;
}

.persona .band > div {
	padding: 10px 46px;
}

/* Recent
-------------------------------------------------------------------------------------------- */
.recent {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 5px 0;

	background-color: #F0F0F0;
}

.recent h1, .recent h2, .recent h3 {
	margin-bottom: 20px;
	background-color: #FFF;
	display: inline-block;
	margin-right: -20px;
	padding: 5px 12px;
}

/* Feed
-------------------------------------------------------------------------------------------- */
.feed {
	padding: 0 20px;
}

.feed a {
	text-decoration: none;
}

.feed a.coming-soon {
	color: #888;
}

.feed a > p {
	color: #999;
	font-size: .8em;
}

.feed a:hover {
	text-decoration: none;
}

.feed p {
	margin-bottom: 25px;
}

.feed ul {
	margin-top: 5px;
	margin-bottom: 0;
}

/* Level
-------------------------------------------------------------------------------------------- */
.level {
	display: inline-block;
	background: #DDD;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	cursor: pointer;
}

/* Messages
-------------------------------------------------------------------------------------------- */
#all-messages-chat {
	max-height: 300px;
	overflow-x: auto;
}

/* Submit Game
-------------------------------------------------------------------------------------------- */
#submitgame-form #form {
	margin: auto;
}

/* Header
-------------------------------------------------------------------------------------------- */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	
	background-color: #222;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

header #icon {
	padding: 5px 0;
}

header nav .menu-link, header nav .menu-link:focus {
	display: block;
	float: left;
	padding: 0 12px;
	
	height: 74px;
	line-height: 74px;
	
	font-size: 1.6em;
	color: white;
}

header nav .menu-link:hover, header nav .menu-link:active {
	height: 68px;
	line-height: 68px;
	
	background-color: #E44D26;
	border-top: 6px solid #F16529;
	
	color: white;
	text-decoration: none;
}

header nav .menu-link-dropdown:focus {
	height: 68px;
	line-height: 68px;
	
	background-color: #E44D26;
	border-top: 6px solid #F16529;
	
	color: white;
	text-decoration: none;
}

header nav .dropdown-menu {
	top: 71px;
	
	background-color: #E44D26;
	border-radius: 0;
}

header nav .dropdown-menu a, header nav .dropdown-menu a:focus {
	color: #fff;
}

header nav .dropdown-menu a:hover, header nav .dropdown-menu a:active {
	background-color: #F16529;
	background-image: none;
}

.header-icon {
	display: inline-block;
	
	background-size: 100%;
}

/* Footer
-------------------------------------------------------------------------------------------- */
footer {
	background-color: #202020;
	border-top: 8px solid #292929;
	
	padding: 3px 0;
	
	color: #777;
}

footer a, footer a:hover, footer a:active, footer a:focus {
	color: #777;
}

footer .btn, footer .btn:focus {
	position: relative;
	top: -4px;
	
	background: #444;
	border: 5px solid #333;
	
	color: #FFF;
		
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
}

footer .btn:hover {
	background: #333;
	border-color: #292929;
	
	color: #FFF;
}

footer .btn:active {
	background: #333;
	border-color: #333;
	
	color: #FFF;
	
	box-shadow: inset 0 0 3px black;
}

footer aside {
	display: inline-block;
	width: calc(25% - .5%);
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

footer aside > div {
	width: 75%;
	border-top: 2px solid #777;
	margin: auto;
}

footer h3 {
	margin: 0;
}

footer ul {
	list-style: none;
	margin-left: 1px;
	font-size: 16px;
}

footer #buttons {
	width: 94%;
	margin: auto;
	margin-top: 15px;
}

/* Bootstrap overrides
-------------------------------------------------------------------------------------------- */
.modal {
	background-color: #F0F0F0 !important;
	border-top: 8px solid #DDD !important;
	border-right: 8px solid #DDD !important;
	border-left: 8px solid #DDD !important;
	border-radius: 0 !important;
}

.modal-header {
	background-color: #F0F0F0 !important;
	border: none !important;
}

.modal-footer {
	background-color: #DDD !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	padding: 12px 15px 4px !important;
}

.modal .btn, .modal .btn:focus {
	position: relative;
	top: -4px;
	
	background: #333;
	border: 5px solid #333;
	
	color: #FFF;
		
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
}

.modal .btn:hover {
	background: #333;
	border-color: #292929;
	
	color: #FFF;
}

.modal .btn:active {
	background: #333;
	border-color: #333;
	
	color: #FFF;
	
	box-shadow: inset 0 0 3px black;
}

.popover {
	border-radius: 0 !important;
	background-color: #292929 !important;
	border: 8px solid #333 !important;
	box-shadow: none !important;
	color: #FFF !important;
	font-size: 18px;
}

.popover.bottom .arrow {
	top: -19px !important;
	.popover.bottom .arrow: #333 !important;
}

.popover.bottom .arrow:after {
	border-bottom-color: #333 !important;
}

.popover b {
	display: block;
	font-weight: bold;
	border-bottom: 1px solid #FFF;
}

hr {
	border-color: rgb(200, 200, 200) !important;
	margin: 15px 0 !important;
}

.red textarea:focus {
	border-color: rgba(51, 51, 51, 0.8) !important;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(51, 51, 51, 0.6) !important;
}

.label {
	border-radius: 0 !important;
}

.label-important {
	background-color: #E44D26 !important;
	background-color: rgba(228, 77, 38, .8) !important;
}

/* Extras
-------------------------------------------------------------------------------------------- */
section {
	position: relative;
}

section .id-link {
	position:absolute;
	top: -82px;
}

.lead-small {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
}
